<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript" src="/main.js"></script>
<div class="container">
    <h2 class="text-white text-center mb-4">Register </h2>
    <div class="card col-lg-5 col-md-6 col-12 mx-auto p-4 py-5>">
        <form action="/auth/register" method="post" class="c-form" data-url="http://localhost:4000/auth/register">
            <div class="form-group d-flex px-3 pt-4">
                <i class="fa-solid fa-unlock"></i>
                <input name="username" type="text"  class="form-control" id="username" placeholder="Username">
            </div>
            <div class="text center pt-3">
                <p><small id="username_msg" class="text-danger text-center pt-3"></small> </p>
            </div>
            <div class="form-group d-flex px-3 pt-4 m-0">
                <input name="email" type="email"  class="form-control" id="email" placeholder="Email" aria-describedby="emailHelp" >
            </div>
            <div class="text center pt-3">
                <p><small id="error_msg" class="text-danger text-center pt-3"></small></p>
            </div>
            <div class="form-group d-flex px-3 pt-4">
                <input name="password" type="password"  class="form-control" id="password" placeholder="Password">
            </div>
            <div id="box"></div>
            <div class="text-center pt-4" >
                <p><small id="password_msg" class="text-danger text-center pt-3"></small></p>
                <button type="submit" id="submit_btn" class="btn btn-primary col-4">Sign Up</button>
            </div>
            <a href="/auth/login">Login</a>
        </form>
    </div>
</div>
</body>
</html>

