body {
    background-image: linear-gradient(120deg, #3498db, #8e44ad) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-group input {
    border: none;
    border-radius: 12px;
    box-shadow: 0px 10px 3px rgba(0,0,0,0.2);
}
.card{
    background-color: white; !important;
}

.form-group i,
.form-group input::placeholder{
    color: #afafaf; !important;
}

.form-group input:focus,
.form-group input:active {
    box-shadow: none;
}

.btn{
    background: linear-gradient(120deg, #3498db, #8e44ad, #3498db) !important;
    border-color: #11217d !important;
    transition: .5s;
    border: none;
}

.btn:hover{
    background-position: right;
    /*transform: translateY(-5px);*/

}

#box{
    padding: 10px;
    color: red;
}
